<nav class='navigation'>
  {% for item in site.data.navigation %}
    <div class="navigationlink {% if page.url == item.link %}navCurrentSite{% endif %}">
      <a href="{{ item.link }}"><button>{{ item.name }}</button></a>
      
    </div>
  {% endfor %}
  <div class="navfiller"> </div>
  {% if page.id != "search" %}
    <div class="searchbar">
      <input 
        type="text"
        class="searchbar__input"
        placeholder="search..."
        aria-label="search"
        id="search-bar"
      />
      <a id="search-button" href="/search">
        <button class="searchbar__button">
          <i 
          class="fa-solid fa-magnifying-glass"
          >

          </i>
        </button>
      </a>
      <div class="searchbar__results scroll" id="search-results">
        
      </div>
    </div>
  {% endif %}
</nav>