<nav class='navigation'>
  {% for item in site.data.navigation %}
    <div class="navigationlink {% if page.url == item.link %}navCurrentSite{% endif %}">
      <a href="{{ item.link }}"><button>{{ item.name }}</button></a>
      
    </div>
  {% endfor %}
  <div class="navfiller"> </div>
  <div class="searchbar">
    <input 
      type="text"
      class="searchbar__input"
      placeholder="search..."
      aria-label="search"
    />

    <button class="searchbar__button">
      <i 
      class="fa-solid fa-magnifying-glass"
      >

      </i>
    </button>
    <div class="searchbar__results scroll">
      {% for post in site.posts %}
    <a href="{{ post.url }}"> 
        {% if post.title %} 
            <h3>
                {{ post.title }}
            </h3> 
        {% endif %}

        {% if post.description %} 
            <p>
                {{ post.description }}
            </p> 
        {% endif %}
    </a>
    {% endfor %}
    </div>
  </div>
</nav>