<div class="posts">
    {% for post in site.posts %}
        {% if post != page %}
            {% assign isATagContained = false %}

            {% for tag in post.tags %}
                {% if page.tags contains tag %}
                    {% assign isATagContained = true %}
                {% endif %}
            {% endfor %}

            {% if isATagContained or page.layout == "home" or page.id == "feed" %}
                <div class="posts__part">
                    <a href="{{ post.url }}" class="posts__title"> 
                        {% if post.title %} 
                            <h3>
                                {{ post.title }}
                            </h3> 
                            <p class="date">{{ post.date | date_to_string }}</p>
                        {% endif %}
                
                        {% if post.description %} 
                            <p>
                                {{ post.description }}
                            </p> 
                        {% endif %}
                    </a>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>