.header {
    background-position: center;
    background-position-x: center;
    height: 40vh;
}

.header * {
    color: $font2-color-third;
    text-align: center;
    text-shadow: 1px 0px 30px rgba(0,0,0,1);
}

.header h1 {
    padding-top: 7.5vh;
    font-weight: 900;
    font-size: 3.5rem;
}

.header h4 {
    padding-bottom: 10vh;
    font-weight: 600;
    font-size: 1rem;
}


.navigation {
    display: flex;
    border-top: .3rem solid $bg2-color-second;
    border-left: .5rem solid $bg2-color-second;
}

.navigationlink {
    background-color: $bg2-color-second;
    padding: 1rem 1.25rem;
}

.navigationlink a {
    text-decoration: none;
}

.navigationlink:hover:not(.navCurrentSite){
    background-color: $bg3-color-accent;
    color: $font2-color-third;
}

.navCurrentSite {
    background-color: transparent;
}

.navCurrentSite a {
    color: $bg3-color-accent;
}

.navfiller {
    background-color: $bg2-color-second;
    padding: 1rem 1.25rem;
    width: 100%;
}