/* Colorscheme */
$bg1-color-main: #fff;
$bg2-color-second: #1e1e1e; 
$bg3-color-accent: #E0A287;

$font1-color-main: #1b1b1b;
$font2-color-second: #E0A287;
$font3-color-third: #fff;

$overlaybackground: rgba(0, 0, 0, 0.185);



/* base css */
body {
    font-family: 'Nunito Sans';
    background-color: $bg1-color-main;
    color: $font1-color-main;
    margin: 0;
}

code {
    font-family: 'Source Code Pro', monospace;
}

.main-content {
    margin: auto;
    width: calc(100vw - 2em);
    max-width: 67.5rem;
}

.content { 
    grid-area: content;
    min-height: 100vh;
}
footer { grid-area: footer; }


.horizontalLine{
    margin: 0;
    position: relative;
    font-size: 0;


    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 50%;
        width: 100%;
        height: 1px;
        background-color: $bg2-color-second;
    }
}

.main-content {
    & img {
        width: 100%;
        margin: 1rem 0;
    }
}

@media (min-width: 60rem) {
    .main-content {
        display: flex;
        column-gap: 1.5rem;

        & .sidepannel {
            min-width: 15rem;
            max-width: 15rem;
            margin-top: 0rem;
        }

        & .mainpannel {
            width: 60em;
        }
    }
}


@media all and (min-width: 90rem) {
    .main-content {
        translate: 8.75rem;
        column-gap: 2.5rem;
    }
}

* a {
    text-decoration: none;
    color: $font1-color-main;
    padding: .2rem 0;

    & p {
        margin: 0;
    }

    & h3, h4, span {
        
        position: relative;
        width: fit-content;
        margin: 0;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background-color: $bg2-color-second;

            transform: scaleX(0);
            transform-origin: right;

            transition: transform 150ms ease-in-out;
        }
    }

    &:hover {
        & h3, h4, span {
            &::after {
                transform: scaleX(1);
                transform-origin: left;
            }
        }
    }
}

iframe {
    width: 100%;
    margin: 1rem auto;
}