.metaData {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &__tags {
        display: flex;
        column-gap: .5rem;
        align-items: center;
        max-width: 33%;
    }
}

.posts {

    &.searchbar__results a h3::after {
        background-color: $bg1-color-main;
    }

    &__title .date {
        color: rgba($color: #000000, $alpha: .6);
        font-size: small;
    }
}

