.metaData {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &__tags {
        display: flex;
        column-gap: .5rem;
        align-items: center;
        max-width: 33%;

        & .tags {
            overflow-x: scroll;
            flex-wrap: nowrap !important;

            
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
            &::-webkit-scrollbar {
                display: hidden;
            }
        }
        
        & button {
            font-size: x-small;
        } 
    }
    
}