.metaData {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &__tags {
        display: flex;
        column-gap: .5rem;
        align-items: center;
        max-width: 33%;

        & .tags {
            overflow: hidden;
            flex-wrap: nowrap !important;
        }
        
        & button {
            font-size: x-small;
        } 
    }
    
}