.tags {
    display: flex;
    column-gap: .25em;
    flex-wrap: wrap;
    margin: .5rem 0;

    & button {
        border: 1px solid;
        border-radius: 5000px;
        padding: .3rem .6rem;
        margin: .2rem 0;
        cursor: pointer;


        &.not-clicked {
            color: $font1-color-main;
            background-color: transparent;
            border-color:  $bg2-color-second;

            &:hover {
                background-color: $bg3-color-accent;
            }
        }

        &.clicked {
            color: $font1-color-main;
            background-color: transparent;
            border-color:  $bg3-color-accent;
            
            &:hover {
                background-color: $bg3-color-accent;
            }
        }
    }
}