---
layout: sidepanels
---
<div class="horizontalLine">&nbsp;</div>
<div class="metaData">
    <div class="metaData__author">{{ page.author }}</div>
    <div class="metaData__date">{{ page.date | date_to_string }}</div>
    {% if page.links %}
        <div class="metaData__links">
            <div>
            {% for item in page.links %}
                <a href="{{ item.link }}" target="_blank"><span>{{ item.name }}</span></a>
                {% if forloop.last == false %}
                    <span> | </span>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    {% endif %}
</div>
<div class="horizontalLine">&nbsp;</div>
{{ content }}